@font-face {
    font-family: "roman";
    src: url("../fonts/HelveticaNeueCyrRoman/HelveticaNeue-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "medium";
    src: url("../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "light";
    src: url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyr-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "bold";
    src: url("../fonts/Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "black";
    src: url("../fonts/Black/HelveticaNeueCyrBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.menu_vup ul li {
    z-index: 110;
    margin-right: 2px;
}

.menu_vup ul li a {
    font-family: roman;
    color: #808080 !important;
    font-size: 14.3px;
    border: 1px solid #c7c7c7;
    border-radius: inherit;
    background: #f4f4f4;
    border-bottom-color: #999999;
}

.menu_vup ul li a:hover {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom-color: #f4f4f4;
}

.menu_vup ul li a:hover {
    font-family: roman;
    color: black !important;
    font-size: 14.3px;
    font-weight: 600;
    cursor: pointer;
    background: #f4f4f4;
}

.menu_vup .nav-tabs > li.active > a, .menu_vup .nav-tabs > li.active > a:focus, .menu_vup .nav-tabs > li.active > a:hover {
    font-family: roman;
    color: black !important;
    font-size: 14.3px;
    font-weight: 600;
    background: #f4f4f4;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
}

.bord_bott2 {
    width: 100%;
    border-bottom: 1px solid #999999;
    position: relative;
    bottom: 1px;
    z-index: 100;
}

.menu_vup_content {
    background: #f4f4f4;
    position: relative;
    bottom: 1px;
}

.clas_cabin_no_conteiner22 .sp_black {
    font-family: black;
    font-size: 28px;
}

.clas_cabin_no_conteiner22 .di_mar_top {
    margin-top: 35px;
    margin-bottom: 22px;
}

.clas_cabin_no_conteiner22 .div_prof_2 {
    width: 244px;
    float: left;
}

.clas_cabin_no_conteiner22 .div_prof_2 img {
    width: 183px;
    height: 135px;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    margin-bottom: 18px;
}

.clas_cabin_no_conteiner22 .div_prof_2 .sp_izm_logo {
    float: left;
    font-family: roman;
    font-size: 16px;
    color: #003cff;
    cursor: pointer;
    text-decoration: none;
}

.clas_cabin_no_conteiner22 .div_contact_form_2 {
    width: 215px;
    float: left;
}

.clas_cabin_no_conteiner22 .wh_block_C {
    height: 260px;
}

.clas_cabin_no_conteiner22 .div_contact_form_2 p {
    float: left;
    font-family: roman;
    font-size: 14px;
    color: #e5ae67;
    width: 215px;
    margin: 0;
    position: relative;
    bottom: 4px;
}

.clas_cabin_no_conteiner22 .div_contact_form_2 span {
    float: left;
    font-family: roman;
    font-size: 16px;
    color: #4b4b4b;
    width: 230px;
    margin-bottom: 12px;
    position: relative;
    bottom: 4px;
}

.clas_cabin_no_conteiner22 .div_taruf_form_2 {
    width: 260px;
    float: left;
}

.clas_cabin_no_conteiner22 .div_taruf_form_2 p {
    float: left;
    font-family: roman;
    font-size: 14px;
    color: #e5ae67;
    width: 230px;
    margin: 0;
    position: relative;
    bottom: 4px;
}

.clas_cabin_no_conteiner22 .div_taruf_form_2 span {
    float: left;
    font-family: roman;
    font-size: 20px;
    color: #003cff;
    margin-top: 12px;
    margin-bottom: 18px;
}

.clas_cabin_no_conteiner22 .div_taruf_form_2 .a_smena_taruf:hover{
    color: #e5ae67;
}

.clas_cabin_no_conteiner22 .div_taruf_form_2 .a_smena_taruf {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 12px 25px;
    background: #4b3a39;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.clas_cabin_no_conteiner22 .div_ohol_form_2 {
    width: 195px;
    float: left;
}

.clas_cabin_no_conteiner22 .div_ohol_form_2 p {
    float: left;
    font-family: roman;
    font-size: 14px;
    color: #e5ae67;
    width: 185px;
    margin: 0;
    position: relative;
    bottom: 4px;
}

.clas_cabin_no_conteiner22 .div_ohol_form_2 span {
    float: left;
    font-family: roman;
    font-size: 16px;
    color: #4b4b4b;
    width: 130px;
    position: relative;
    bottom: 4px;
    margin-top: 14px;
}

.clas_cabin_no_conteiner22 .div_balans_form_2 {
    width: 150px;
    float: left;
}

.clas_cabin_no_conteiner22 .div_balans_form_2 p {
    float: left;
    font-family: roman;
    font-size: 14px;
    color: #e5ae67;
    width: 240px;
    margin: 0;
    position: relative;
    bottom: 4px;
}

.clas_cabin_no_conteiner22 .div_balans_form_2 span {
    float: left;
    font-family: roman;
    font-size: 20px;
    color: #003cff;
    margin-top: 12px;
}

.bord_bot_22 {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 33px;
}

.clas_cabin_no_conteiner22 .sp_tex_pod {
    font-family: roman;
    font-size: 20px;
    color: #555555;
}

.clas_cabin_no_conteiner22 .mar_tex_pod {
    margin-bottom: 25px;
}

.clas_cabin_no_conteiner22 .sp_tex_vop {
    font-family: roman;
    font-size: 14px;
    color: #a7a6a6;
}

.clas_cabin_no_conteiner22 .mar_tex_vop {
    margin-bottom: 9px;
}

.clas_cabin_no_conteiner22 .tex_prum_mas {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 20px 0 0 15px;
    color: #4b4b4b;
    font-size: 16px;
    font-family: roman;
}

.clas_cabin_no_conteiner22 .no_padddd button:hover{
    color: #e5ae67;
}

.clas_cabin_no_conteiner22 .no_padddd button {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
    background: #4b3a39;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 170px;
}

.clas_cabin_no_conteiner22 .span_otvet22 {
    float: left;
    font-family: roman;
    font-size: 14px;
    color: #a7a6a6;
    padding-left: 20px;
    padding-top: 11px;
}

.clas_cabin_no_conteiner22 {
    width: 1170px;
    padding-right: 15px;
    padding-left: 30px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.clas_cabin_no_conteiner22 {
    width: 1170px;
    padding-right: 0px;
    padding-left: 30px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
}
#profile-menu{
    width: 100%;
}
.clas_cabin_no_conteiner {
    width: max-content;
    padding-right: 15px;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1366px) and (max-width: 1920px) {
    .menu_vup .nav-tabs > li.active > a, .menu_vup .nav-tabs > li.active > a:focus, .menu_vup .nav-tabs > li.active > a:hover {
        font-size: 16.75px;
        position: relative;
        top: 0px;
    }

    .nav > li > a {
        padding: 10px 8px 10px 15px !important;
    }

    .menu_vup ul li a {
        font-size: 16.75px;
    }

    .menu_vup ul li a:hover {
        font-size: 16.75px;
    }

    .clas_cabin_no_conteiner22 .div_prof_2 {
        width: 250px;
    }

    .clas_cabin_no_conteiner22 .div_contact_form_2 {
        width: 220px;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 {
        width: 275px;
    }

    .clas_cabin_no_conteiner22 .div_ohol_form_2 {
        width: 225px;
    }

    .otstup_233 {
        width: 193px !important;
        position: absolute !important;
        left: 30%;
    }

    .owl-next, .owl-prev {
        background: transparent !important;
        position: absolute;
        top: 38% !important;
    }

    .textte_opus2 {
        width: 289px;
        height: 150px;
        font-size: 15px;
        font-family: medium;
        color: #353535;
        padding-top: 15px;
    }

    .otstup_123 {
        width: 193px !important;
        position: absolute !important;
        right: 94%;
    }

    .pos_rel_right {
        position: relative;
        right: 1%;
    }

    .pos_rel_left {
        position: relative;
        left: 1%;
    }

    .ots_mar_top0 {
        margin-top: 25px;
    }

    .ma_mat_50 {
        margin-bottom: 50px;
    }
    .content-cla_styl {
        width: 267.5px;
    }
    .home-active {
        width: 271px;
        height: 400px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .home-active img {
        width: 271px;
        height: 400px;
    }
    .hov_dis_non {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 52%;
        height: 192px;
        width: 271px;
    }
}

@media (min-width: 992px) and (max-width: 1365px) {
    .clas_cabin_no_conteiner22 .div_prof_2 {
        width: 250px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_contact_form_2 {
        width: 200px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 {
        width: 244px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_ohol_form_2 {
        width: 175px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 {
        width: 120px;
        float: left;
        margin-top: 20px;
    }

    .menu_vup .nav-tabs > li.active > a, .menu_vup .nav-tabs > li.active > a:focus, .menu_vup .nav-tabs > li.active > a:hover {
        font-size: 13px;
        position: relative;
        top: 0px;
    }

    .menu_vup ul li {
        margin-right: 1px;
    }

    .nav > li > a {
        padding: 10px 8px 10px 15px !important;
    }

    .menu_vup ul li a {
        font-size: 13px;
    }

    .menu_vup ul li a:hover {
        font-size: 13px;
    }

    .clas_cabin_no_conteiner22 button {
        margin-bottom: 80px;
    }

    .clas_cabin_no_conteiner22 .span_otvet22 {
        font-size: 12px;
    }

    .clas_cabin_no_conteiner22 {
        width: 960px !important;
    }

    .textte_opus2 {
        width: 238px !important;
        height: 150px;
        font-size: 15px;
        font-family: medium;
        color: #353535;
        padding-top: 15px;
    }

    .owl-next img {
        position: absolute;
        left: -7px !important;
    }

    .owl-prev img {
        position: absolute;
        right: -6px !important;
    }

    .otstup_233 {
        width: 193px !important;
        position: absolute !important;
        left: 28% !important;
    }

    .otstup_123 {
        width: 193px !important;
        position: absolute !important;
        right: 85% !important;
    }

    .clas_cabin_no_conteiner22 .bt_bot_bb_3 {
        font-size: 14px !important;
    }

    .owl-next, .owl-prev {
        background: transparent !important;
        position: absolute;
        top: 38% !important;
    }

    .clas_cabin_no_conteiner22 .bt_bot_36 {
        margin-left: 20.5% !important;
    }

    .paaa_lef {
        padding-left: 0px !important;
        margin-bottom: 35px;
    }

    .pp_mar {
        padding-left: 0px !important;
    }

    .pp_mar_2d {
        padding-left: 0px !important;
    }

    .pp_mar_2d2e {
        padding-left: 0px !important;
    }

    .ots_mar_top0 {
        margin-top: 25px;
    }

    .ma_mat_50 {
        margin-bottom: 50px;
    }
    .content-cla_styl {
        width: 292px;
    }
    .home-active {
        width: 292px;
        height: 400px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .home-active img {
        width: 292px;
        height: 400px;
    }
    .hov_dis_non {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 52%;
        height: 192px;
        width: 292px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .clas_cabin_no_conteiner22 .div_prof_2 img {
        width: 135px;
        height: 100px;
    }

    .clas_cabin_no_conteiner22 .div_prof_2 {
        width: 185px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_contact_form_2 {
        width: 140px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 {
        width: 155px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 {
        width: 140px;
        float: left;
        margin-top: 20px;
    }

    .clas_cabin_no_conteiner22 .div_ohol_form_2 {
        width: 130px;
        float: left;
    }

    .clas_cabin_no_conteiner22 .no_padddd button {
        margin-bottom: 80px;
    }

    .menu_vup .nav-tabs > li.active > a, .menu_vup .nav-tabs > li.active > a:focus, .menu_vup .nav-tabs > li.active > a:hover {
        font-size: 12px;
        position: relative;
        top: 0px;
    }

    .menu_vup ul li {
        margin-right: 1px;
    }

    .nav > li > a {
        padding: 10px 8px 10px 15px !important;
    }

    .menu_vup ul li a {
        font-size: 12px;
        width: 117px;
    }

    .menu_vup ul li a:nth-child(1) {
        font-size: 12px;
        height: 50px;
        text-align: center;
    }

    .menu_vup ul li a:hover {
        font-size: 12px;
    }

    .clas_cabin_no_conteiner22 .sp_black {
        font-family: black;
        font-size: 24px;
    }

    .clas_cabin_no_conteiner22 .div_prof_2 .sp_izm_logo {
        font-size: 14px;
    }

    .clas_cabin_no_conteiner22 .div_contact_form_2 p {
        font-size: 12px;
    }

    .clas_cabin_no_conteiner22 .div_contact_form_2 span {
        font-size: 13px;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 p {
        font-size: 12px;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 span {
        font-size: 16px;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 .a_smena_taruf {
        font-size: 12px;
        padding: 8px 15px;
    }

    .clas_cabin_no_conteiner22 .div_ohol_form_2 p {
        font-size: 12px;
    }

    .clas_cabin_no_conteiner22 .div_ohol_form_2 span {
        font-size: 13px;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 p {
        font-size: 12px;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 span {
        font-size: 16px;
    }

    .clas_cabin_no_conteiner22 .span_otvet22 {
        font-size: 11px;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    .clas_cabin_no_conteiner22 .no_padddd button {
        margin-bottom: 5px;
    }

    .item_img33 img {
        height: 125px !important;
    }

    .item_img33 {
        height: 125px !important;
    }

    .item_img44 {
        height: 125px !important;
    }

    .img_clas_ss {
        height: 125px !important;
    }

    .no-padding444 {
        padding-right: 0 !important;
    }

    .no-padding333 {
        padding-left: 0 !important;
    }

    .clas_cabin_no_conteiner22 .di_mar_top2 {
        margin-left: 19px;
    }

    .textte_opus2 {
        width: 213px !important;
    }

    .style_p_22text {
        font-size: 12px !important;
    }

    .otstup_123 {
        position: absolute !important;
        right: 67% !important;
        width: 193px !important;
    }

    .otstup_233 {
        width: 122px !important;
        position: absolute !important;
        left: 30% !important;
    }

    .form_style_tup222 {
    }

    .owl-next, .owl-prev {
        top: 8% !important;
    }

    .owl-next img {
        position: absolute;
        left: 0px !important;
    }

    .owl-prev img {
        position: absolute;
        right: 0px !important;
    }

    .clas_cabin_no_conteiner22 .bt_bot_bb_3 {
        font-size: 13px !important;
    }

    .clas_cabin_no_conteiner22 .bt_bot_36 {
        font-size: 12px !important;
        padding: 6px 15px !important;
        margin-left: 20.5% !important;
    }

    .no_pad_0 {
        padding: 0 !important;
    }

    .ots_mar_top0 {
        margin-top: 18px;
    }

    .ma_mat_50 {
        margin-bottom: 50px;
    }
    .content-cla_styl {
        width: 330px;
    }
    .home-active {
        width: 330px;
        height: 400px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .home-active img {
        width: 330px;
        height: 400px;
    }
    .hov_dis_non {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 52%;
        height: 192px;
        width: 330px;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .clas_cabin_no_conteiner22 .span_otvet22 {
        font-size: 11px;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    .clas_cabin_no_conteiner22 .no_padddd button {
        margin-bottom: 5px;
    }

    .clas_cabin_no_conteiner22 {
        width: 493px;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .burd_cl {
        text-align: center;
    }

    .clas_cabin_no_conteiner22 .wh_block_C {
        height: 430px;
    }

    .no_padddd {
        padding: 0px !important;
    }

    .clas_cabin_no_conteiner22 .div_prof_2 {
        height: 220px;
        width: 262px;
    }

    .clas_cabin_no_conteiner22 .div_contact_form_2 {
        height: 220px;
        width: 180px;
    }

    .clas_cabin_no_conteiner22 .div_taruf_form_2 {
        width: 261px;
        height: 145px;
    }

    .clas_cabin_no_conteiner22 .div_ohol_form_2 {
        height: 145px;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 {
        width: 478px;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 p {
        width: 478px;
        text-align: center;
    }

    .clas_cabin_no_conteiner22 .div_balans_form_2 span {
        width: 478px;
        text-align: center;
    }

    .menu_vup .nav-tabs > li.active > a, .menu_vup .nav-tabs > li.active > a:focus, .menu_vup .nav-tabs > li.active > a:hover {
        font-size: 14px;
        position: relative;
        top: 0px;
        background: white;
        border: none !important;
        float: none;
        width: 463px;
    }

    .menu_vup ul li a {
        font-size: 14px;
        background: white;
        border: none !important;
        float: none;
        width: 463px;
    }

    .menu_vup ul li {
        float: none !important;
        width: 463px;
        text-align: center;
    }

    .menu_vup ul li a:hover {
        font-size: 14px;
        background: white;
        border: none !important;
        float: none;
        width: 463px;
    }

    .clas_cabin_no_conteiner {
        width: 493px;
    }

    .textte_opus2 {
        height: 150px;
        font-size: 15px;
        font-family: medium;
        color: #353535;
        padding-top: 15px;
    }

    .item_img33 img {
        width: 92% !important;
    }

    .img_clas_ss {
        width: 92% !important;
        height: 290px !important;
    }

    .owl-next img {
        position: absolute;
        left: -22px !important;
    }

    .item_img33 {
        height: 290px !important;
    }

    .item_img33 img {
        height: 290px !important;
    }

    .item_img44 {
        height: 290px !important;
    }

    .clas_cabin_no_conteiner22 .bt_bot_36 {
        top: 45% !important;
        margin-left: 34.5% !important;
    }

    .otstup4_text {
        margin-top: 5px !important;
    }

    .clas_cabin_no_conteiner22 .span_otvet_33 {
        font-size: 13px !important;
        margin-bottom: 50px !important;
    }

    .ots_mar_45 {
        margin-bottom: 5px !important;
    }

    .dv_centr {
        text-align: center;
    }

    .clas_cabin_no_conteiner22 .div_bal_price_2 span {
        font-size: 25px !important;
        color: #003cff;
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }

    .clas_cabin_no_conteiner22 .a_smena_taruf222 {
        font-size: 12px !important;
        padding: 13px 14px !important;
        margin-bottom: 13px !important;
    }

    .cl_pp_wer {
        font-size: 16px !important;
    }

    .cl_pp_price_ww_red {
        font-size: 17px !important;
    }

    .no_pad_0 {
        padding: 0 !important;
    }

    .clas_cabin_no_conteiner22 .no_pad_0 .sp_izm_logo {
        margin-top: 53px;
        padding-left: 35px;
    }

    .ma_mat_50 {
        margin-bottom: 50px;
    }

    .ots_mar_top0 {
        margin-top: 15px;
    }
    .content-cla_styl {
        width: 448px;
    }
    .home-active {
        width: 448px;
        height: 400px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .home-active img {
        width: 448px;
        height: 400px;
    }
    .hov_dis_non {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 52%;
        height: 192px;
        width: 448px;
    }
}

.clas_cabin_no_conteiner22 .di_mar_top2 {
    margin-top: 24px;
    margin-bottom: 26px;
}

.pad_lef_0 {
    padding-left: 0 !important;
    margin-bottom: 50px;
}

.otstup22 {
    padding-left: 0 !important;
}

.otstup33 {
    padding-left: 2px !important;
}

.otstup44 {
    margin-top: 27px;
    padding-left: 2px !important;
}

.otstup455 {
    margin-top: 27px;
}

.form_style_tup {
    height: 50px;
    font-size: 15px;
    font-family: medium;
    color: #353535;
}

.style_p_22text {
    margin-bottom: 5px;
    font-size: 13px;
    font-family: roman;
    color: #949494;
}

.sp_tex_foto22 {
    width: 20%;
    float: left;
    color: #949494;
    font-size: 13px;
    font-family: roman;
    margin-bottom: 15px;
}

.sp_tex_foto223 {
    width: 20%;
    float: left;
    color: #949494;
    font-size: 13px;
    font-family: roman;
    margin-bottom: 15px;
    padding-left: 3px;
}

.sp_tex_foto224 {
    width: 20%;
    float: left;
    color: #949494;
    font-size: 13px;
    font-family: roman;
    margin-bottom: 15px;
    padding-left: 5px;
}

.sp_tex_foto225 {
    width: 20%;
    float: left;
    color: #949494;
    font-size: 13px;
    font-family: roman;
    margin-bottom: 15px;
    padding-left: 8px;
}

.item_img33 {
    width: 100%;
    height: 170px;
    float: left;
    margin-right: 14px;
}

.item_img33 img {
    width: 100%;
    height: 170px;
    float: left;
}

.item_img44 {
    background: url("../img/plus_img.png") center center no-repeat;
    cursor: pointer;
    width: 100%;
    height: 170px;
    float: left;
    margin-right: 14px;
}

.img_clas_ss {
    background: white;
    width: 100%;
    height: 170px;
    float: left;
    margin-right: 14px;
}

.item_img33 img {
    float: left;
}

.clas_cabin_no_conteiner22 .bt_bot_36 {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 10px 25px;
    background: #4b3a39;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 0px !important;
    position: absolute;
    text-decoration: none;
    top: 41%;
    margin-left: 24.5%;
}

.owl-prev img {
    position: absolute;
    right: 15px;
}

.owl-next img {
    position: absolute;
    left: 15px;
}

input[type=radio] {
    margin-top: 1px \9;
    line-height: normal;
    width: 25px;
    height: 25px;
    margin-right: 5px !important;
    margin-top: 13px !important;
}

input[type="radio"] + label {
    color: #353535;
    font-family: medium;
    font-size: 15px;
    margin-right: 25px;
    position: relative;
    bottom: 7px;
}

.bord_bot_b_33 {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 25px;
    margin-top: 25px;
}

.bord_bot_b_444 {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 25px;
}

.pad_lef_555 {
    padding-left: 0 !important;
    margin-bottom: 25px;
}

.clas_cabin_no_conteiner22 .span_otvet_33 {
    float: left;
    font-family: roman;
    font-size: 14px;
    color: #a7a6a6;
    padding-left: 8px;
    padding-top: 14px;
}

.clas_cabin_no_conteiner22 .bt_bot_bb_3 {
    float: left;
    font-family: roman;
    font-size: 17px;
    color: white;
    padding: 10px 25px;
    background: #4b3a39;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 0px !important;
    text-decoration: none;
}

.ots_mar_45 {
    margin-bottom: 45px;
}

.item_pad_top_22 {
    padding-top: 0 !important;
}

.clas_cabin_no_conteiner22 .div_bal_price_2 span {
    float: left;
    font-family: roman;
    font-size: 30px;
    color: #003cff;
    margin-top: 9px;
    margin-bottom: 35px;
}

.clas_cabin_no_conteiner22 .a_smena_taruf222 {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 12px 25px;
    background: #258e00;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.sp_tex_comment_33 {
    font-family: roman;
    font-size: 14px;
    color: #a7a6a6;
}

.mar_topp_33 {
    margin-top: 22px;
    padding: 0;
}

.cl_pp_wer {
    margin-top: 22px;
    font-family: medium;
    font-size: 15px;
    color: #353535;
}

.cl_pp_price_ww_red {
    margin-top: 22px;
    font-family: medium;
    font-size: 15px;
    color: #fe0000;
}

.cl_pp_price_ww_green {
    margin-top: 22px;
    font-family: medium;
    font-size: 15px;
    color: #258e00;
}

.pad_l_30_px {
    padding-left: 30px !important;
}

.mar_booot_22 {
    margin-bottom: 90px;
}

.p_pp_0 {
    padding: 0px;
}

.spa_pos_ab_l {
    position: absolute;
    bottom: 7px;
    left: 13px;
    font-family: roman;
    font-size: 15px;
    color: white;
}

.cc_spa_paket {
    font-family: medium;
    font-size: 20px;
    color: #e5ae67;
}

.cc_spa_sr33_span {
    font-family: black;
    font-size: 20px;
    color: #e5ae67;
}

.paaa_lef {
    padding-left: 15px;
    margin-bottom: 35px;
}

.cc_spa_sroc {
    font-family: roman;
    font-size: 15px;
    color: #000000;
}

.pp_mar {
    margin-bottom: 40px;
}

.pp_mar_2d {
    margin-bottom: 25px;
}

.pp_mar_2d2e {
    margin-bottom: 90px;
}

.a_oplatyty_a {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 10px 35px;
    background: #4b3a39;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.a_oplatyty_a:hover{
    text-decoration: none;
    color: white;
}

.clas_cabin_no_conteiner22 .no_pad_255 img {
    width: 183px;
    height: 135px;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    margin-bottom: 18px;
    float: left;
}

.clas_cabin_no_conteiner22 .no_pad_255 .sp_izm_logo {
    float: left;
    font-family: roman;
    font-size: 16px;
    color: #003cff;
    cursor: pointer;
    text-decoration: none;
    margin-left: 22px;
}

.block-hidden {
    display: none;
}

.home-active:hover .block-hidden {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.block-hidden h2 {
    position: absolute;
    top: 5%;
    left: 5%;
}

.block-hidden .read-more {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.block-hidden .read-more a {
    color: #fff;
}

.dis_non_img {
    display: none !important;
}

.can_hov_elem {
    position: relative;
    top: 52%;
    height: 192px;
}

.a_clas_knop {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 10px 23px;
    background: #4b3a39;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: absolute;
    margin: 0px 15px;
    top: 71px;
    width: 90%;
    right: 0;
}

.a_clas_knop2 {
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 10px 48px;
    background: #ff002a;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 121px;
    margin: 0px 15px;
    width: 90%;
    right: 0;
}

.img_wi2 {
    width: 20px !important;
    height: 23px !important;
}

.img_wi22 {
    width: 29px !important;
    height: 21px !important;
}

.hov_dis_non:hover {
    display: none;
}
.clas_cabin_no_conteiner22 .sp_texxx2 {
    font-family: roman;
    font-size: 16px;
    color: #4b4b4b;
}
#katalog-panel1 .margin-katalog-panel .content-cla_styl:last-child{
    margin-bottom: 35px!important;
}
.content-cla_styl {
    float: left;
    margin-right: 13px;
    margin-bottom: 25px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 12px 0 rgba(0, 0, 0, 0.19);
}

.a_smena_taruf{
    float: left;
    font-family: roman;
    font-size: 15px;
    color: white;
    padding: 12px 25px;
    background: #4b3a39;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.a_smena_taruf:hover{
    text-decoration: none;
    color: #e5ae67;
}


.breadcrumb {
    background-color: white!important;
}
.clas_cabin_no_conteiner22 .nav-tabs{
    margin-bottom: 15px;
}
.clas_cabin_no_conteiner22 .nav-tabs li a{
    border-radius: 0px;
}
.clas_cabin_no_conteiner22 .full-height-textarea{
    height: 256px;
}
.edit_button{
    position: absolute;
    text-align: center;
    top: 75px;
    background-color: #4b3a39;
    border-radius: 3px;
    margin-left: 15px;
    width: 90%;
    padding: 7px;
    color: #e3e1e1;
}
.top_button{
   position: absolute;
    text-align: center;
    top: 30px;
    background-color: #fbaf23;
    border-radius: 3px;
    margin-left: 15px;
    width: 90%;
    padding: 7px;
    color: #e3e1e1; 
}
.button_display{
    display: none;
}
.unistall_button:hover{
    color: #e5ae67!important;
    text-decoration: none!important;
 }
.edit_button:hover{
    color: #e5ae67!important;
    text-decoration: none!important;
}
.unistall_button{
    position: absolute;
    text-align: center;
    top: 115px;
    background-color: #ff002a;
    border-radius: 3px;
    margin-left: 15px;
    width: 90%;
    padding: 7px;
    color: #e3e1e1;
}
.change_hover_all{
    float: left;
}
.content > .breadcrumb > li > a{
    font: 13px roman;
}
.content > .breadcrumb > li:first-child > a{
    color: #734d1c;
    text-decoration: underline;
}
.content > .breadcrumb > li.active{
    color: #e5ae67 !important;
    text-decoration: none !important;
}
.form-style::-webkit-input-placeholder { color: grey; font-size: 15px; }
.form-style::-moz-placeholder {color: grey; font-size: 15px; }
.form-style:-ms-input-placeholder { color: grey; font-size: 15px; } 
.form-style:-o-input-placeholder { color: grey; font-size: 15px; }

#adress_promt, .prod-static-bl-height label{
    min-height: 45px;
    margin-bottom: 0px;
}
#adress_promt span{
    display: block;
    color: grey;
    font-size: 12px;
}

.cont_for_two_price_but a{
    margin-bottom: 15px;
}
.tarif_packet_table span{
    color: black;
}
.tarif_packet_table .table_headers span{
    font-weight: bold;
}
.tarif_packet_table .table_title{
    margin-bottom: 15px;
}
.table-row, .table_headers{
    padding-bottom: 15px;
}
.center-currency-bl{
    transform: translate(0%,120%);
}
.center-currency-bl p{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
}