@font-face {
    font-family: "roman";
    src: url("../fonts/HelveticaNeueCyrRoman/HelveticaNeue-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "medium";
    src: url("../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyr-Medium.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "light";
    src: url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyr-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "bold";
    src: url("../fonts/Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "black";
    src: url("../fonts/Black/HelveticaNeueCyrBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: roman!important;
}

/*header*/
.header{
    border-bottom: 2px solid #e5ae67;
}
.logo img{
    padding-top: 3px;
}
.logo{
    cursor: pointer;
}
.nav-tabs > li{
    margin-bottom: -2px;
}
.style-padd-top{
    padding-top: 10px;
}
.myButton-style{
    display: inline-block;
    padding: 9px 30px;
    background-color: #4b3a39;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.call-back-div{
    cursor: pointer;
}
.myButton-style:hover{
    text-decoration: none;
    color: #e5ae67;
}
.text-header-size{
    font: 16px roman;
}
.text-size-flag{
    font-size: 13px;   
}
.padding-registr-text{
    padding: 0px 210px 0px 210px !important
}
.registration-panel{
    display: none;
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: url(../img/registration_panel.png) no-repeat;
    background-size: cover;
}
.close-registration{
    cursor: pointer;
}
.close-call-back{
    cursor: pointer;
}
.center-block-my{
    padding-bottom: 60px;
}
.padd-call-back-panel{
    padding: 45px 15px 30px 15px !important;
}
.send-email-log{
    font: 13px roman;
    color: white;
}
.peredzvo-button:hover{
    color: #e5ae67;
    text-decoration: none;
}
.peredzvo-button{
    padding: 9px 36px;
    color: white;
    background: #4b3a39;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    margin-top: 30px
}
.otstup-div-style{
    padding: 47px 0px 0px 0px !important;
}
.otstup-div-style.same-text-packet{
    padding: 27px 0px 0px 0px !important;
}
.paket_name{
    font: 20px medium;
    color: #e5ae67;
    padding-left: 14px;
    margin: 0px !important;
    display: inline-block;
}
.same-text-packet{
    font: 15px roman;
    color: white;
    line-height: 22px;
}
.price-text-style{
    font: 20px black;
    color: #e5ae67;
}
.div-otstup-price{
    padding: 25px 0px 31px 0px;
}
.pay-button:hover{
    color: #e5ae67;
    text-decoration: none;
}
.padding-paket-div{
    padding: 0px 0px 40px 0px !important;
}
.pay-button{
    display: inline-block;
    background: #4b3a39;
    color: white;
    cursor: pointer;
    font: 15px roman;
    padding: 11px 38px;
    border-radius: 2px;
    cursor: pointer;
}

.marg-titl-registr{
    margin-bottom: 33px;
}
.padd-div-registration{
    padding: 46px 0px 40px 0px !important;
}
.padd-same-packet{
    padding:0px 0px 20px 0px !important;
}
.text-size-call{
    vertical-align: middle;
    font-size: 17px;
    font-family: roman;
}
.text-number-style{
    font-family: bold;
}
.color-loc-first{
    color: #353535;
}
.color-for-span{
    color: #828181;
}
.color-call-back{
    color: #4b3a39;
    font-weight: 600;
}
.form-call-back-panel{
    display: inline-block;
    color: #9f9f9f;
    font: 16px roman;
    height: 48px;
    margin-bottom: 5px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
}
.block-style-input{
    float: left;
    display: block;
    width: 100%;
    text-align: center;
}
.ul-text-style ul li a{
    color: #000000;
    cursor: pointer;
    font-family: roman;
    text-decoration: none;
    padding: 11px 0px;
}
.ul-text-style ul{
    padding-left: 0px;
}
 .ul-text-style ul li{
     display: inline-block;
 }
.image-style{
    display: inline-block;
}
.title-panel-click{
    font: 28px black;
    color: white;
}
.call-back-panel, .call-back-popup{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 2;
    background: url(../img/registration_panel.png) no-repeat;
    background-size: cover;
    z-index: 999;
}
.bed_bl{
    text-align: right;
}
.product-atribute-bl{
    padding-top: 20px !important;
    padding-bottom: 9px !important;
}
.product-hr{
    background: #e8e8e8;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
}

@media (min-width: 1366px){
    .text-size-flag{
        position: relative;
        left: 8%;
    }
    .marg-style-my{
        margin-left: 35px;
        margin-right: 35px;
    }
    .padd-style{
        padding-left: 40px !important;
        padding-right: 0px !important;
    }
    .marg-top{
        margin-top: 5px;
    }
}
@media (min-width:1200px) and (max-width: 1365px){
     .padd-style{
        padding-left: 30px !important;
        padding-right: 0px !important;
    }
    .marg-top{
        margin-top: 5px;
    }
    .text-size-flag{
        margin-left: 25px;
    }
    .marg-style-my{
        margin-left: 33px;
        margin-right: 33px;
    }
}
@media (min-width:1200px){
    .image-style img{
        padding-left: 5px;
    }
    .no-padding{
        padding: 0px !important;
    }    
    .ul-text-style ul li{
        padding: 0px 15px;
    }
    .col-padding-registr-text{
        padding: 0px 210px 0px 210px !important
    }
    .col-padding-call-back-text{
        padding: 0px 140px 0px 210px !important
    }
    .form-call-back-panel{
        width: 29%;
    }
}
@media (min-width:992px){
    .text-right-style{
        text-align: right;
    }
    .ul-text-style ul li a{
        font-size: 14.5px;
    }
    .ul-text-style{
        padding-right: 0px !important;
        padding-top: 10px;
        text-align: right;
    }
    .ul-text-style ul li a:hover{
        border-bottom: 4px solid #e5ae67;
    }
    .style-katalog-padding-left{
        padding:0px 25px 0px 0px !important;
    }
    .style-katalog-padding-right{
        padding: 0px 0px 0px 25px !important;
    }
    .send-email-log{
        padding: 0px 75px 0px 75px;
    }
    .otstup-opus-pacet{
        padding-left: 62px !important;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .col-padding-call-back-text{
        padding: 0px 120px 0px 175px !important;
    }
    .form-call-back-panel{
        width: 35%;
    }
    .marg-top{
        margin-top: 6px;
    }
    .no-padding{
        padding: 0px !important;
    }   
    .border-add{
       top: 181px;
    }
    .center-text{
        text-align: center;
        margin-bottom: 20px;
    }
    .bottom-marg{
        margin-bottom: 20px;
    }
    .no-margin{
        margin: 0px !important;
    }
    .text-size-flag{
        margin-left: 28px;
    }
    .padd-style{
        padding-left: 15px !important;
        padding-right: 0px !important;
    }
    .marg-style-my{
        margin-left: 20px;
        margin-right: 20px;
    }
    .ul-text-style ul li{
        padding: 0px 6px;
    }
    .col-padding-registr-text{
        padding: 0px 90px 0px 90px !important
    }
}
@media (min-width:768px){
    .display-style{
        float: left;
    }
    .display-none{
        display: none;
    }
    .text-vertical-center{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .click{
        display: block;
    }
    .close-mob-registr{
        display: none;
    }
}
@media (min-width: 768px) and (max-width:991px){
    .form-call-back-panel{
        width: 46%;
    }
    .ul-text-style ul li a{
        font-size: 15px;
    }
    .otstup-opus-pacet{
        padding-left: 47px !important;
        padding-right: 0px !important;
    }
    .media-padd-zero{
        padding: 0px 0px 0px 0px !important;
    }
    .col-padding-call-back-text{
        padding: 0px 0px 0px 80px !important;
    }
    .send-email-log{
        padding: 0px 62px 0px 75px;
    }
    .center-text{
        text-align: center;
        margin-bottom: 20px;
    }
    .no-margin{
        margin: 0px !important;
    }
    .text-right-style{
        width: 50%;
        float: left;
        text-align: center;
    }
    .ul-text-style{
        text-align: center;
    }
    .ul-text-style ul li{
        padding: 10px 7px;
    }
    .text-size-flag{
        margin-left: 50px
    }
    .border-add{
        top: 224px;
    }
    .bottom-marg{
        margin-bottom: 20px;
    }
    .marg-top-menu{
        margin-top: 20px;
    }
    .marg-style-my{
        margin-left: 33px;
        margin-right: 33px;
    }
    .style-katalog-padding-left{
        padding:0px 0px 0px 0px !important;
    }
    .style-katalog-padding-right{
        padding: 25px 0px 0px 0px !important;
    }
}
@media (min-width: 420px) and (max-width: 767px){
    .close-registr{
        display: none;
    }
    .otstup-opus-pacet{
        padding-left: 67px !important;
    }
    .form-call-back-panel{
        width: 75%;
    }
    .display-style{
        width: 100%;
        margin-bottom: 30px;
    }
    .no-margin{
        margin: 0px !important;
    }
    .bottom-marg{
        margin-bottom: 20px;
    }
    .center-text{
        text-align: center;
        margin-bottom: 20px;
    }
    .marg-top {
        margin-top: 15px;
    }
    .ul-text-style{
        display: none;
    }
    
    .ul-text-style ul li{
        list-style: none;
    }
    .text-center-mob{
        text-align: center;
    }
    .flag-position{
        display: inline-block;
        padding-left: 15px;
    }
    .style-navbar{
        background-color: white !important;
        border: 0px !important;
        margin-bottom: 0px !important;
    }
    .style-navbar ul li a{
        font-size: 13px;
        font-family: roman;
    }
    .hide{
        display: none;
    }
    .style-katalog-padding-left{
        padding:0px 0px 0px 0px !important;
    }
    .style-katalog-padding-right{
        padding: 25px 0px 0px 0px !important;
    }
    .close-mob-registr{
        padding-bottom: 40px;
    }
}
.headMenu{
    border-bottom: 4px solid #e5ae67;
}
/*header*/
/*content*/
.class-for-ul ul{
    padding-left: 0px;
}
.class-for-ul ul li p{
    font: 21px bold;
    color: black;
}
.class-for-ul ul li{
    background: url(../img/bullet.png) no-repeat left 6px;
    list-style: none;
    padding-left: 17px;
    font: 13px roman;
    color: #6c6c6c;
    line-height: 26px;
    margin-top: 30px;
}
.my-breadcrumb-style{
    padding: 8px 15px 8px 0px !important;
    background: white !important;
}
.my-breadcrumb-style li a{
    font: 13px roman;
}
.my-breadcrumb-style li{
    display: inline-block;
    list-style: none;
}
.style-a-color{
    color: #734d1c;
    text-decoration: underline;
}
.style-a-color:hover{
    color: #734d1c;
    text-decoration: underline;
}
.active-color{
    color: #e5ae67 !important;
    text-decoration: none !important;
}
.text-title-same{
    font: 28px black;
    color: black;
}
.same-border-kartochka{
    border-bottom: 1px solid #cdcdcd;
}
.katalog-style{
    border-bottom: 1px solid #999999;
}
.katalog-content-style{
    background: #f4f4f4;
}
.tabs-style-katalog{
    display: inline-block;
    margin-bottom: 0px !important;
}
.tabs-style-katalog li a:hover{
    color: black;
    text-decoration: none;
}
.tabs-style-katalog li a{
    color: #808080;
    padding: 23px 35px;
    cursor: pointer;
    font: 15px roman;
    border-bottom: none;
}
.tabs-style-katalog li{
    border: 1px solid #999999;
    border-bottom: 0px;
    background: #f4f4f4;
    display: inline-block;
    list-style: none;
    padding: 22px 0px;
}
.label-text-style{
    font: 13px roman;
}
.katalog-active{
    border-bottom: 2px solid #f4f4f4 !important;
}
.kartochka-title-price{
    text-align: right;
}
.my-padding-kartochka{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 40px;
}
.question-seller{
    background: #f4f4f4;
}
.style-question-padd{
    text-align: center;
    padding: 40px 50px 24px 50px !important;
}
.style-img-select img, .style-img-select-my img{
    width: 100%;
    cursor: pointer;
}
.watch-icon{
    display: none;
}
.slides li{
    position: relative;
}
.watch-icon-hover{
    display: block;
    position: absolute;
    float: left;
    top: 45%;
    left: 40%;
}
#slider .flex-direction-nav{
    display: none;
}
.see-all-button:hover{
    color: #e5ae67;
    text-decoration: none;
}
.see-all-button{
    cursor: pointer;
    display: inline-block;
    color: white;
    background: #4b3a39;
    padding: 9px 32px;
    border-radius: 2px;
    font: 15px roman;
}
.padd-titl-proekte{
    padding: 53px 15px 65px 15px !important;
}
.interested{
    background: #f4f4f4;
    margin-top: 60px;
}
.object-span-inform{
    font: 15px roman;
    color: #696969;
    line-height: 23px;
}
.flexslider{
    margin: 0 !important;
}
.find-pos{
    font: 18px roman;
    color: #a6a6a6;
}

.inf-pos-sapan{
    font: 15px roman;
    color: black;
}
.img-map-senter img{
    width: 100%;
}
.information-title{
    font: 25px light;
    color: black;
}
.call-seller:hover{
    color: #e5ae67;
    text-decoration: none;
}
.call-seller{
    cursor: pointer;
    font: 15px roman;
    padding: 10px 24px;
    color: white;
    background: #4b3a39;
}
.style-img-select, .style-img-select-my{
    position: relative;
    padding-left: 0px !important;
    padding-right: 3px !important;
    padding-top: 6px;
    position: relative;
}
.name-price{
    display: inline-block;
    font: 18px roman;
    color: #7e7e7e;
}
.title-border{
    border-bottom: 2px solid #cdcdcd;
}
.hov_img_none{
    height: 200px;
    background-size: cover;
}
.number-price{
    padding-left: 5px;
    font: 35px bold;
    color: #3b8b00;
}
.arenda-content{
    background: #f4f4f4;
}
.arenda-ta-style{
    padding-left: 0px !important;
}
.arenda-ta-style li a:hover{
    color: #e5ae67;
    border-bottom: 4px solid #e5ae67;
    text-decoration: none;
}
.arenda-ta-style li a{
    cursor: pointer;
    color: #646464;
    font: 14px roman;
    padding: 13px 0px;
}
.arenda-ta-style li{
    display: inline-block;
    list-style: none;
    padding: 25px 13px 0px 0px;
}
.arenda-cont-title{
    margin: 45px 0px 10px 0px;
    font: 15px roman;
    color: #555555;
}
.style-padding-ul{
    margin-top: 10px;
}

.search{
    background: url("../img/search_image.png") no-repeat;
    background-size: cover;
}
#arenda-panel1{
    display: block;
}
.sel-tab-panel{
    display: none;
    padding-top: 45px;
}
.right-panel-text-style{
    color: #828181;
    font: 13px roman;
}
.right-panel-number{
    font: 17px bold;
    color: black;
}
.for-image-corr img{
    padding-left: 3px;
}
.style-otzivi-padding{
    padding-left: 0px !important;
    width: 33.33333333%;
    float: left;
}
.otzivi-padd-style{
    padding: 0px 0px 40px 0px !important;
}
.partner-text-style:hover{
    color: #e5ae67;
}
.partner-text-style{
    font: 15px roman;
    color: black;
    cursor: pointer;
}

.partn-same-padd{
    padding-bottom: 20px;
}
.partn-marg-style{
    margin-top: 40px;
    margin-bottom: 40px;
}
.padd-ul-style{
    padding-left: 0px;
}
.padd-ul-style span{
    font: 13px roman; 
    color: #6c6c6c; 
    line-height: 20px;
}
.padd-ul-style p{
    color: black; 
    font:20px bold;
}
.padd-ul-style li{
    background: url(../img/bullet.png) no-repeat left 6px;
    list-style: none;
    padding-left: 17px;
    font: 13px roman;
    color: #6c6c6c;
    line-height: 26px;
    margin-top: 30px;
}
.my-class-span-des p{
    font: 13px roman;
    color: #6c6c6c;
    line-height: 26px;
}
.tab-active-arend{
    border-bottom: 4px solid #e5ae67;
    color: #e5ae67 !important;
}
.otstup{
    padding-right: 0px !important;
    padding-left: 5px !important;
}
.form-style::placeholder{
    color: #353535;
}
.form-style{
    color: #353535;
    font-size: 17px;
    font-family: medium;
    width: 100%;
    height: 48px;
    padding-left: 16px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    cursor: pointer;
}
.select-style{
    -webkit-appearance: none;
    background: url(../img/down_icon.png) white no-repeat 90% center;
}
.style-p-text{
    margin: 0;
    font-size: 14px;
    font-family: roman;
    color: white;
}

.search-style-Button{
    background: url('../img/search_icon.png') #e5ae67 no-repeat center center !important;
    width: 100%;
    border: 0px !important;
    border-radius: 0px !important;
    height: 48px;
    margin-top: 20px;
}
.ultra_search:focus{
    outline: 0;
}
.ultra_search{
    background: url(../img/ultra_search_icon.png) transparent no-repeat center right;
    border: 0px;
    color: #e5ae67;
    width: 16%;
    -webkit-appearance: none;
    font-family: roman;
    font-size: 17px;
    cursor: pointer;
}
.proposition{
    background: #dddddd;
}
.proposition .container{
    padding-bottom: 20px!important;
}
@media (min-width: 1200px){
    .owl-next, .owl-prev{
        margin-top: 0px !important;
    }
    .owl-next{
        right: -3%;
    }
    .owl-prev{
        left: -3%;
    }
    .content-class-style{
        width: 271.5px;
    }
    .marging-style-us{
        width: 57%;
    }
    .media-width-img{
        width: 55%;
        left: 30%;
    }
    .home-img-media{
        width: 75%;
    }
    .open-img-media{
        width: 70%
    }
    .call-seller{
        float: right;
    }
    .information-title{
        display: inline-block;
    }
    .inform-pos{
        padding-right: 0px !important;
        padding-left: 27px !important;
    }
    .question-pos{
        padding-right: 0px !important;
        padding-left: 27px !important;
    }
    #masonry_hybrid_demo1 .grid-sizer{
        width: calc(100% / 3) !important;
    }
    #masonry_hybrid_demo2 .grid-sizer{
        width: calc(100% / 5) !important;
    }
    #masonry_hybrid_demo3 .grid-sizer{
        width: calc(100% / 5) !important;
    }
    #masonry_hybrid_demo2 .grid-item{
        padding: 0px 0px 100px 50px !important; 
    }
    .worck-graphik{
        padding: 21px 58px 34px 28px !important;
    }
    .otstup-message{
        padding: 0px 0px 0px 5px !important; 
    }
    
    .padd-numb-kontakti{
        padding: 42px 15px 0px 15px !important;
    }
    .padding-form-profile{
        padding: 0px 0px 0px 110px !important;
    }
    .all-ul{
        font-size: 17px;
    }
}
@media (min-width: 992px){
    .block-iform-mob{
        display: none;
    }
    .block-inform-kontakt{
        left: 60%;
        top: 11%;
    }
    .question-contakt{
        padding: 60px 158px 0px 138px !important;
    }
    .cont-registr-form-style{
        display: inline-block;
    }
    .continue-reg-button{
        margin-left: 24px;
    }
    .same-padding-witch-form{
        padding: 0px 0px 0px 50px !important;
    }
    .padd-reg-button-prof{
        padding:20px 0px 0px 50px !important;
    }
    .all-ul{
        font-size: 15px;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .ultra_search{
        width: 19%;
    }
    .owl-next, .owl-prev{
        margin-top: 10px !important;
    }
    .owl-next{
        right: -3%;
    }
    .owl-prev{
        left: -3%;
    }
    .content-class-style{
        width: 300px;
    }
    .marging-style-us{
        width: 60%;
    }
    .media-width-img{
        width: 75%;
        left: 10%;
    }
     .home-img-media{
        width: 70%;
    }
    .open-img-media{
        width: 45%
    }
    .inform-center-text{
        text-align: center;
    }
    .inform-pos{
        padding-right: 0px !important;
        padding-left: 27px !important;
    }
    .question-pos{
        padding-right: 0px !important;
        padding-left: 27px !important;
    }
    #masonry_hybrid_demo1 .grid-sizer{
        width: calc(100% / 3) !important;
    }
    #masonry_hybrid_demo2 .grid-item, .grid-sizer{
        width: calc(100% / 4) !important;
    }
    #masonry_hybrid_demo3 .grid-item, .grid-sizer{
        width: calc(100% / 4) !important;
    }
    .worck-graphik{
        padding: 21px 15px 20px 28px !important;
    }
    .otstup-message{
        padding: 0px 0px 0px 5px !important; 
    }
    .padd-numb-kontakti{
        padding: 20px 15px 0px 15px !important;
    }
    .padding-form-profile{
        padding: 0px 0px 0px 70px !important;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .ultra_search{
        width: 25%;
    }
    .all-ul{
        font-size: 17px;
    }
    .padding-form-profile{
        padding: 40px 0px 0px 0px !important;
    }
    .same-padding-witch-form{
        padding: 0px 0px 0px 30px !important;
    }
    .padd-reg-button-prof{
        padding:20px 0px 0px 30px !important;
    }
    .owl-next, .owl-prev{
        margin-top: 28px !important;
    }
    .owl-next{
        right: -4%;
    }
    .owl-prev{
        left: -4%;
    }
    .content-class-style{
        width: 347px;
    }
    .marging-style-us{
        width: 81%;
    }
    .media-width-img{
        width: 75%;
        left: 10%;
    }
     .home-img-media{
        width: 70%;
    }
    .open-img-media{
        width: 60%
    }
    .same-style{
        margin-right: 10px;
    }
    .padd-min-size{
        padding-top: 40px;
    }
    .information-title{
        display: inline-block;
    }
    .call-seller{
        float: right;
    }
    .media-padd-top{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .question-pos{
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }
    .marg-pos{
        margin-top: 20px;
    }
    #masonry_hybrid_demo1 .grid-item, .grid-sizer{
        width: calc(100% / 2) !important;
    }
    #masonry_hybrid_demo2 .grid-item, .grid-sizer{
        width: calc(100% / 2) !important;
    }
    #masonry_hybrid_demo3 .grid-item, .grid-sizer{
        width: calc(100% / 2) !important;
    }
    .otstup-message{
        padding: 0px 0px 0px 0px !important; 
    }
    .worck-graphik{
        padding: 21px 58px 20px 28px !important;
    }
    .block-inform-kontakt{
        display: none;
    }
    .question-contakt{
        padding: 60px 75px 0px 65px !important;
    }
    .padd-numb-kontakti{
        padding: 42px 15px 0px 15px !important;
    }
    .cont-registr-form-style{
        display: inline-block;
    }
    .continue-reg-button{
        margin-left: 10px;
    }
    .text-center-media{
        text-align: center;
    }
}
@media(min-width: 768px){
    .padd-zero{
        padding: 0 !important;
    }
    .katalog_button{
        float: right;
        display: inline-block;
    }
    .title_slider{
        display: inline-block;
        padding-left: 11%;
    }
    .all-ul{
        margin-top: 22px;
    }
    .all-ul li{
        padding-bottom: 13px;
    }
    .interested-title-style{
        display: inline-block;
        padding-left: 11%;
    }
    .same-span-inform{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 15px !important;
    }
}
@media(min-width:420px) and (max-width:767px){
    .block-inform-kontakt{
        display: none;
    }
    .continue-reg-button{
        margin-left: 10px;
    }
    .worck-graphik{
        padding: 21px 58px 20px 28px !important;
    }
    .marg-pos{
        margin-top: 20px;
    }
    .ultra_search{
        width: 178px;
    }
    .change-hover{
        width: 100%;
    }
    .owl-next{
        right: 0%;
    }
    .owl-prev{
        left: 0%;
    }
    .owl-next, .owl-prev{
        margin-top: -20px !important;
    }
    .media-padd-top{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .style-same-marg{
        margin-top: 10px;
    }
    .tabs-inside li{
        padding: 16px 8px  !important;
    }
    .correct-padd-media{
        padding-top: 10px;
    }
    .padd-zero{
        padding: 0 !important;
    }
    .all-ul{
        margin-bottom: 0px;
    }
    .all-ul li{
        padding-top: 13px;
    }
    .style-katalog-padding{
        padding-top: 20px;
    }
    .content-class-style{
        width: 100%;
    }
    .question-pos{
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }
    .padd-left-none{
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }
    .same-span-inform{
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 15px !important;
    }
    .padd-min-size{
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }
    .inform-center-text{
        text-align: center;
    }
    .title-border{
        text-align: center;
    }
    .kartochka-title-price{
        text-align: center;
    }
    .information-title, .interested-title-style{
        margin-bottom: 30px !important;
    }
    #masonry_hybrid_demo1 .grid-item, .grid-sizer{
        width: calc(100% / 1) !important;
    }
    #masonry_hybrid_demo2 .grid-item, .grid-sizer{
        width: calc(100% / 1) !important;
    }
    #masonry_hybrid_demo3 .grid-item, .grid-sizer{
        width: calc(100% / 1) !important;
    }
    .otstup-message{
        padding: 0px 0px 0px 0px !important; 
    }
    .question-contakt{
        padding: 60px 25px 0px 25px !important;
    }
    .mob-padd{
        padding-top: 10px;
    }
}
.padd-my-cabinet{
    padding: 40px 0px 150px 0px !important;
}
.continue-registration{
    background: #4b3a39;
    padding: 30px 0px 38px 0px !important;
}
.action-text a{
    color: #e5ae67;
}
.padd-search-div{
    padding-top: 63px;
}
.action-text{
    font: 15px medium;
    color: white;
    line-height: 20px;
}
.cont-registr-form-style{
    height: 48px;
    width: 237px;
    border-radius: 2px; 
    border: 1px solid white;
    padding-left: 19px;
    font: 16px roman;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.padd-style-form{
    padding: 0px 15px 0px 5px !important;
}
.continue-reg-button:hover{
    color: black;
    text-decoration: none;
}
.continue-reg-button{
    background: #e5ae67;
    color: black;
    font: 15px roman;
    cursor: pointer;
    display: inline-block;
    padding: 9px 26px;
    border-radius: 2px;
}
.my-cabinet-padd{
    padding: 36px 0px 0px 0px !important;
}
.load-photo{
    font: 16px roman;
    color: #4b4b4b;
}
.style-padd-photo{
    padding: 25px 0px 0px 0px !important;
}
.photo-text-titl{
    font: 13px roman;
    color: #949494;
}
.img-change-padd{
    padding: 19px 0px 0px 0px !important;
}
.img-profile-photo img{
    width: 100%;
}
.padding-footer-bor{
    padding: 28px 0px 6px 0px !important;
    border-bottom: 1px solid #585859
}

.padd-bottom-form{
    padding: 0px 0px 20px 0px !important;
}
.form-profile-style{
    width: 100%;
    height: 48px;
    border: 1px solid #cdcdcd;
    padding-left: 20px;
    font: 15px medium;
    border-radius: 2px;
}
.reg-button-profile:hover{
    color: #e5ae67;
    text-decoration: none;
}
.reg-button-profile{
    display: inline-block;
    color: white;
    font: 17px black;
    background: #4b3a39;
    padding: 17px 35px;
    border-radius: 2px;
    cursor: pointer;
    
}
.change-logotype:hover{
    text-decoration: none;
    color: #003cff;
}
.label-text-prifile{
    font: 13px roman;
    color: #949494;
}
.change-logotype{
    font: 16px roman;
    margin-top: 16px;
    display: inline-block;
    color: #003cff;
    cursor: pointer;
}
.div-border{
    float: left; 
    width: 100%;
    border-top: 1px solid #d2d2d2;
}
.kontakt-location{
    padding: 40px 0px 0px 0px !important;
}
.map-loc-kontakt{
    width: 100%;
}
.map-kontakt{
    padding: 0px !important;
}
.question-contakt{
    background: #f4f4f4;
}
.send-button-contact:hover{
    text-decoration: none;
    color: #e5ae67;
}
.send-button-contact{
    cursor: pointer;
    display: inline-block;
    padding: 9px 25px;
    background: #4b3a39;
    color: white;
    font: 15px roman;
}
.after-send-padd{
    padding: 23px 0px 71px 0px !important;
}
.fancks-after-send{
    font: 14px roman;
    color: #888888;
}
.buy-house-padd{
    padding: 50px 15px !important;
}
.how-to-buy{
    font: 13px roman;
    color: #6c6c6c;
    line-height: 23px;
}
.O_project_padd{
    padding: 47px 0px 0px 0px !important;
}
.img_o_proekte{
    width: 100%;
}
.preymychestva{
    background: #f4f4f4;
    margin-top: 42px;
}
.preymychestva-padd-col{
    padding: 46px 0px 76px 0px !important;
}
.padding-text-preymych{
    padding: 50px 75px 0px 59px !important;
}
.preymych-text{
    font: 17px roman;
    color: black;
}
.padding-buy-house-proekte{
    padding: 85px 0px 44px 0px !important;
}
.preymych-title{
    font: 50px black;
    color: #e5ae67;
}
.read-next-press{
    font: 13px roman;
    color: #734d1c;
    padding-top: 26px;
}
.read-next-press > a{
    font: 13px roman;
    color: #734d1c;
    padding-top: 26px;
}
.question-title{
    font: 25px light;
}
.block-inform-kontakt{
    position: absolute !important;
    background: white;
    border-radius: 2px;
    box-shadow: 0px 0px 74px 17px rgba(0, 0, 0, 0.2), 0 0px 6px 0 rgba(0, 0, 0, 0.19);
}
.number-kontakt-block{
    font: 27px bold;
}
.otstup-left{
    padding: 20px 15px 17px 19px !important;
}
.same-display{
    display: flex;
    align-items: baseline;
}
.text-block-loc{
    float: left;
    width: 84%;
    padding-left: 10px;
}
.online-text{
    font: 14px roman;
    color: #888888;
}
.online-img-style{
    padding: 0px 0px 0px 0px !important;
}
.online-padd{
    padding: 17px 15px 21px 15px !important;
}

.worck-text{
    font: 14px roman;
    color: #888888;
}
.loc-kontakt-style{
    font: 18px roman;
    color: black;
}
.read_reatly:hover{
    color: #e5ae67;
    text-decoration: none;
}
.read_reatly{
    display: inline-block;
    font-size: 15px;
    padding: 7px 19px;
    background-color: #4b3a39;
    border-radius: 1px;
    font-family: roman;
    color: white;
    cursor: pointer;
}
.bott-padd-slider{
    padding-bottom: 30px;
}
.katalog_button:hover{
    color: #e5ae67;
    text-decoration: none;
}
.katalog_button{
    background-color: #4b3a39;
    padding: 10px 33px;
    font: 15px roman;
    color: white;
    cursor: pointer;
}
.sbros-button:hover{
    color: #e5ae67;
    text-decoration: none;
}
.sbros-button{
    cursor: pointer;
    padding: 7px 25px; 
    color: white; 
    font: 15px roman; 
    background: #4b3a39; 
    border-radius: 2px;
}
.same-marg-button{
    margin-top: 25px;
}
.margin-katalog-panel{
    margin-top: 30px;
}
#katalog-panel1{
    display: block;
}

.style-padd-div-same{
    padding-top: 15px !important;
}
.style_border{
    
    padding-top: 20px !important; 
    padding-bottom: 9px !important;
    border-bottom: 1px solid #e8e8e8;
}
.style-padding-select-catalog{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 48px;
}
.form-style-kartochka{
    color: #9f9f9f;
    font-size: 16px;
    font-family: roman;
    width: 100%;
    height: 48px;
    padding-left: 16px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}
.write-text-form{
    height: 137px !important;
    margin-bottom: 24px;
}
.write-form-kontakti{
    height: 100px !important;
}
.send-question:hover{
    color: #e5ae67;
    text-decoration: none;
}
.send-question{
    cursor: pointer;
    color: white;
    background: #4b3a39;
    padding: 9px 22px;
    margin-top: 27px;
}
.money_style{
    font: 15px bold;
    color: #000000;
}
.title_room{
    font: 15px bold;
    color: black;
    height: 31px;
    overflow: hidden;
}
.width_style{
    width: 100%;
    padding-top: 3px;
}
.span-title{
    font: 17px roman; 
    color: #8c8c8c;
}
.span-text{
    font: 17px roman; 
    color: #3f3f3f;
}
.style-img{
    display: inline-block !important; 
    width: auto !important;
}
.numb-style-text{
    font: 17px roman;
    color: #4b3a39;
}
/*.hover-div-slider{
    background: url(../img/room_img.png) no-repeat; background-size: cover;
    cursor: pointer;
}*/
.inform-content-object{
    font: 15px roman;
    color: #696969;
    line-height: 23px;
}
.change-hover{
    float: left; 
    background: white;
}
.information-otstup-style{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 40px !important;
}
.left-object-ul{
    padding-left: 0 !important;
}
.left-object-ul li{
    font-size: 15px;
    color: #e5ae67;
    padding-bottom: 9px;
}
.left-object-ul li a{
    color: black;
    font: 15px roman;
}
.right-object-ul li a{
    color: #000000;
    font: 15px roman;
}
.right-object-ul li{
    font-size: 15px;
    color: white;
    padding-bottom: 9px;
    list-style: none;
}
.right-object-ul{
    padding-left: 0px !important;
}
.owl-next, .owl-prev{
    background: transparent !important;
    position: absolute;
    top: 50%;
}
.my-owl-item .owl-stage{
    margin-bottom: 15px;
}

.content-class-style{
    background: white;
    padding: 15px 20px;
    float:left;
    margin-right: 13px;
    margin-bottom: 25px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 12px 0 rgba(0, 0, 0, 0.19)
}
.content-class-style .product-atribute-bl{
    padding: 0px;
}
.my-class-partners{
    width: 20%;
    height: 150px;
    float: left;
}
.my-class-partners img{
    max-width: 150px;
}
.titl-all{
    font: 28px medium;
    color: black;
}
.whyUs{
    background: url(../img/why_us.png) no-repeat;
    background-size: cover;
}
.img-class-watch{
    background-size: contain;
    height: 112px !important;
}
.title-white-color{
    font: 28px medium;
    color: white;
}
.padding-div-style{
    text-align: center;
    padding-top: 41px; 
    padding-bottom: 20px;
}
.oneColor{
    color: #e5ae67;
}

.head-title{
    display: inline-block;
    color: #e5ae67;
    font: 17px medium;
    border-bottom: 3px solid #e5ae67;
    cursor: pointer;
}
.content-title:hover{
    color: #e5ae67;
}
.content-title{
    color: white;
    font: 20px roman;
    cursor: pointer;
}
.marging-style-us{
    display: inline-block;
    margin-bottom: 30px;
}
.right-style{
    float: right;
}
.left-style{
    float: left;
}
.tabs-style{
    text-align: center;
    border: 0px;
    margin-bottom: 0px !important;
}
.tabs-style li a:hover{
    color: black;
}
.in-focus{
    border: 1px solid #999999 !important;
    border-bottom: 1px solid #f4f4f4 !important;
}
.one-style{
    border: 1px solid #cecece;
    border-bottom : 1px solid #999999;
}
.tabs-style li a{
    background: #f4f4f4;
    padding: 14px 22px;
    text-decoration: none;
    font: 21px roman;
    color: #353535;
    cursor: pointer;
}

.tabs-style li{
    padding: 13px 0px;
    display: inline-block;
}
.tabsButton{
    margin-top: 35px;
}
.tabsContent{
    background: #dddddd;
}
#panel1{
    display: block;
}
.tab{
    display: none;
}
.tab-panel{
    padding-top: 20px;
}
.tabs-inside{
    text-align: left;
    padding-left: 0px;
}
.setActive{
    border-bottom: 4px solid #3f3f3f;
}
.tabs-inside li a:hover{
    border-bottom: 4px solid #3f3f3f !important;
    text-decoration: none;
}
.tabs-inside li a{
    padding: 10px 0px;
    cursor: pointer;
    font: 17px roman;
    color: #3f3f3f;
}
.tabs-inside li{
    padding: 0px 13px 0px 0px;
    display: inline-block;
    list-style: none;
}
.tabs1{
    display: none;
}
.tabs2{
    display: none;
}
#ar-panel1{
    display: block;
}
#pr-panel1{
    display: block;
}
.lowPrice{
    background: #dddddd;
}
.choose_catalog{
    font: 17px medium; 
    color: #4b3a39;
    margin: 0;
}
.catalog-span-text{
    font: 18px roman;
    color:#989190;
}
.catalog-span-email{
    font: 17px medium; 
    color: #0042ff; 
    text-decoration: underline;
}
.display-base{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
.same-style:hover{
    color: #e5ae67;
    background: #4b3a39;
    border: 1px solid #4b3a39;
}
.same-style{
    cursor: pointer;
    color: #4b3a39;
    font:18px medium;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 20px 0px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 12px 0 rgba(0, 0, 0, 0.19);
}
.media-width-img{
    position: relative;
}
.style-litle-p{
    font:14px roman;
    color: #818181; 
    margin-top: 30px;
    margin-bottom: 6px;
}
.bottom-style{
    padding-bottom: 40px !important;
}
/*content*/

/*footer*/
.footer{
    background: url("../img/footer_background.png") no-repeat;
    background-size: cover;
}
.input-style-footer::placeholder{
    color: #828181;
}
.input-style-footer{
    background: url("../img/write.png") no-repeat center right;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #7f8080;
    margin-top: 22px;
    font-family: roman;
    width: 83%;
}
.input-style-footer:focus{
    outline: 0;
}
.all-ul{
    padding-left: 0px!important;
    font-family: roman;
    list-style: none;
}
.Button-submit-style:hover{
    color: #e5ae67 !important;
}
.Button-submit-style{
    padding: 7px 37px !important;
    background-color: #4b3a39;
    font-family: roman;
    font-size: 15px !important;
    color: white;
    border-radius: 1px !important;
    margin-top: 20px;
}
.text-span-footer-style{
    font-size: 15px;
    font-family: roman;
}
.all-information{
    margin-top: 22px;
    width: 100%;
    float: left;
    font-family: roman;
}
.image-padding-footer{
    padding-left: 5px;
}
.all-ul li a{
    color: #828181;
}
.all-ul li a:hover{
    text-decoration: none;
}

.text-number{
    font-size: 20px;
    color: white;
    font-family: bold;
}
.registration-button:hover{
    text-decoration: none;
    color: #e5ae67;
}
.registration-button{
    padding: 7px 26px;
    background-color: #4b3a39;
    font-family: roman;
    font-size: 18px ;
    color: white;
    border-radius: 1px; 
    margin-left: 5px;
    cursor: pointer;
}
.style-registration-butt-marg{
    margin-top: 30px;
    margin-bottom: 36px;
}
.marg-top-style{
    margin-top: 70px;
}

@media (min-width: 992px){
    .infomation-none{
        display: none
    }
    .inline{
        width: 84%;
        float: left;
        padding-left: 5px;
        font-family: roman;
    }
    .for-image-corr img{
        float: left;
        padding-top: 5px;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .inline{
        width: 85%;
    }
}
@media (min-width: 768px){
    .click{
        display: none;
    }
    .padd-left-none{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .information-block{
        display: none;
    }
    .for-image-corr img{
        float: left;
    }
    .inline{
        width: 85%;
        float: left;
        padding-left: 5px;
        font-family: roman;
    }
}
@media(min-width: 420px ) and (max-width: 767px){
    .infomation-none{
        display: none
    }
    .inline{
        display: inline-block;
        float: none;
    }
    .all-ul{
        display: none;
    }
    .click{
        cursor: pointer;
    }
    .block{
        display: none;
    }
}
@media (min-width: 767px){
    .display-style.registaration-block{
        margin: 5px;
    }
    .display-style.registaration-block > a.myButton-style{
        font-size: 14px;
        padding: 9px 15px;
    }
}

.call-back-footer{
    color: #e5ae67;
}
.footer-coordinate{
    color: #828181;
    font-size: 17px;
}
.text-span-footer-style{
    color: #e5ae67;
    text-transform: uppercase;
}
.padd-top{
    padding-top: 24px;
}
.all-information > a:hover
{
    text-decoration: none;
}
.infa-span-domus span{
    font: 17px roman;
}
/*footer*/
.deleteProductImage{
    font-family: roman;
    font-size:16px;
    color:white;
    margin-top: 20%;     
    width:100%;
    display:block;
    top:20px;
    position: absolute;
    text-decoration: none;
    text-align: center;
}

.NewProductImageBlock{
    background-repeat: no-repeat;
    background-size: cover;
    height:170px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor:pointer;
}

.deleteProductImage span{
    cursor:pointer;
    padding: 10px 25px;
    background: #4b3a39;
}
.tab-panel > div:first-child
{
    display:block;
}
.btn.review_add{
    font-family: roman;
    font-size: 17px;
    color: white;
    padding: 10px 25px;
    background: #4b3a39;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 0px !important;
    text-decoration: none;
}
.form_style_textarea{
    height: 100px;
    font-size: 15px;
    font-family: medium;
    color: #353535;
}
.review_label{
    font-size: 1.4em;
}
.saveProfilePhoto:hover{
    color: #e5ae67;
    text-decoration: none;
}
.saveProfilePhoto{
    font: 16px roman;
    margin-right: 30%;
    background: #4b3a39;
    padding: 6px 13px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
}
.my-button-update-profile:hover{
    background: #4b3a39;
    color: #e5ae67;
}
.my-button-update-profile{
    width: 100%;
    background: #4b3a39;
    font: 17px black;
    border: 0px;
    color: white;
    padding: 17px 0px 17px 0px;
    border-radius: 2px;
}
.my-marg-upd-page{
    margin-bottom: 190px;
}

/* login signup pages */
.site-login{
    text-align: center;
    margin-bottom: 30px;
}
.site-login p, .site-login h1, .site-login label, .site-login a, .site-login a:hover{
    color: #4b3a39;
}
.site-login .field-loginform-password, .site-login .field-loginform-rememberme{
    margin-bottom: 0px;
}
.site-login .field-loginform-rememberme{
    display: none;
}
.site-login .btn.btn-primary{
    padding: 9px 36px;
    color: white;
    background: #4b3a39;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    margin-top: 15px;
}
.site-login .loginAndSingupForms input.form-control{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.site-login .loginAndSingupForms .form-group{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.catalog-reset-container{
    margin-top: 40px;
}
#catalog-reset{
    padding: 15px 35px;
}
#filters-category-section{
    margin-top: 30px;
}
div.footer a{
    color: #ccc;
}
div.footer a:hover{
    color: #e5ae67;
}
div.whyUs p.content-title{
    font-size: 17px;
}

/* double tabs */
.tabsButton{
    background: #dddddd;
}
.tabsButton > .nav-tabs{
    border-bottom: 1px solid #999999;
    text-align: center;
    background: white;
}
.tabsButton .tab-content{
    padding-bottom: 15px;
}
.tabsButton > .nav-tabs > li{
    display: inline-block;
    float: none;
}
.tabsButton > .nav-tabs > li > a{
    background-color: #f4f4f4!important;
    padding: 14px 22px!important;
    text-decoration: none;
    font: 21px roman;
    color: #808080;
    cursor: pointer;
    border: 1px solid #cecece !important;
    border-bottom: 1px solid #999999 !important;
    border-radius: 0px;
    margin-bottom: 1px;
}
.tabsButton > .nav-tabs > li.active > a{
    color: black;
    background-color: #dddddd!important;
    border: 1px solid #999999 !important;
    border-bottom: 1px solid transparent !important;
}
.tabsButton .tab-content .nav-tabs{
    border: none;
    padding-top: 30px;
    padding-bottom: 20px;
} 
.tabsButton .tab-content .nav-tabs > li{
    padding: 0px 13px 0px 0px;
}
.tabsButton .tab-content .nav-tabs > li > a{
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 10px 0px!important;
    cursor: pointer;
    font: 17px roman;
    color: #3f3f3f;
}
.tabsButton .tab-content .nav-tabs > li.active > a{
    border-bottom: 4px solid #3f3f3f !important;
}
.investicii .container-fluid{
    padding: 0;
}
.buyAndrenting .buy-andrenting-col-2 .display-base:first-child{
    align-items: inherit;
}
.buy-andrenting-col-1{
    position: relative;
    top: 22px;
}
.buy-andrenting-col-2-row-3{
    align-items: flex-end;
}
.buy-andrenting-col-2-row-3 .col-sm-10{
    padding-top: 15px!important;
}
.buy-andrenting-col-2-row-1 .col-sm-2{
    padding-top: 22px !important;
}
.buy-andrenting-col-3 .same-style{
    box-shadow:none;
    font-size: 15px;
    padding-bottom: 5px;
    padding-left:25px;
    padding-right: 25px;
}
.buy-andrenting-col-3 .same-style p{
    padding: 6px 0;
    font-size: 17px;
}
.buy-andrenting-col-3 .same-style span{
    display:block;
    padding-bottom: 25px;
    line-height: 20px;
}
.buy-andrenting-warring{
    padding: 30px;
    background:#4b3a39;
    margin-bottom: 40px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 3px 2px 0 rgb(75, 58, 57), 0 1px 12px 0 rgb(75, 58, 57);
}
.buy-andrenting-warring span{
    display: block;
    padding-bottom: 5px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.buy-andrenting-warring span:first-of-type{
    padding-bottom: 15px;
}
.buy-andrenting-warring p{
    margin-bottom: 15px;
}
.buy-andrenting-warring a{
    color:white;
    word-spacing: 2px;
}
.opacity-zero{
    opacity: 0;
}
.buy-andrenting-warring:hover, .buy-andrenting-warring:hover a{
    color: #e5ae67;
}
.open-call-back-popup{
    cursor: pointer;
}
.search-result-content{
    padding-top: 35px;
}
.same-text-packet ul{
    padding-left: 15px;
}


/* fix css */
.otstup-div-style.same-text-packet{
    min-height: 373px;
}
.wh_block_C .paaa_lef{
    min-height: 56px;
}
.wh_block_C .pp_mar.p_pp_0.no_pad_0{
    min-height: 93px;
}
.same-text-packet-black {
    font: 15px roman;
    color: black;
    line-height: 22px;
}
.same-text-packet-black ul{
    padding-left: 15px;
}
.wh_block_C > div > div:nth-child(4) .same-text-packet-black{
    min-height: 444px;
}
.wh_block_C .cont_for_two_price_but a{
    width: 240px;
    text-align: center;
}
.padding-paket-div .padd-same-packet{
    padding: 0px 0px 40px 0px !important;
}