.investicii .navbar-collapse{
	width: 100%;
}
@media (max-width: 1100px){
	.clas_cabin_no_conteiner, .clas_cabin_no_conteiner22
	{
		width: inherit!important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.katalog-content-style .owl-carousel{
		max-width: 95%;
	}
}
/* mobile style */

@media (max-width: 767px){
    .no-padding{
    	padding: 0px;
    }
    .text-center{
    	text-align: center;
    }
    .text-header-size {
	    font: 14px roman;
	    text-align: center;
	}
	.call-back-div{
		text-align: center;
    	margin: 5px auto;
	}
	.text-size-call{
		font-size: 15px;
	}
	.registaration-block, 
	.display-style,
	.header .text-right-style
	{
		text-align: center;
    	margin: 6px auto;
	}
	.myButton-style{
		padding: 7px 24px;
		margin-bottom: 5px;
	}
	.marg-top-menu .ul-text-style{
		display: none;
	}
	.marg-top-menu .no-padding{
		margin: 2px auto 15px;
    	text-align: center;
	}
	.display-style .flag-position{
		display: inline-block;
    	padding: 5px;
	}

	.footer .col-xs-12{
		padding-right: 0px;
		padding-left: 0px;
	}
	.footer .media-padd-top,
	.footer > div > div:nth-child(1) > .information-block
	{
		display: none;
	}
	.text-span-footer-style{
		font-size: 14px;
		display: block;
		text-align: center;
	}
	.input-style-footer{
		display: block;
    	margin: 15px auto 0px;
	}
	.footer .Button-submit-style{
		display: block;
	    max-width: 83%;
	    margin: 15px auto;
	}
	.footer .all-information{
		margin-top: 13px;
	    float: none;
	    text-align: center;
	}
	.footer .all-information span{
		font-size: 14px;
	}
	.footer .all-information img{
		max-width: 13px;
    	margin-right: 3px;
	}
	.footer .infomation-none{
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.footer .click-registration-bl{
		margin-top: 30px;
	}
	.footer .click-registration-bl .registration-button{
		font-size: 15px;
	}
	.footer .foot-social-butt img{
		max-width: none;
	}
	.footer .footer-logo{
		display: block;
    	text-align: center;
	}
	.infa-span-domus{
		margin: 10px auto;
	}
	.infa-span-domus span{
		font: 12px roman;
    	margin: auto;
    	text-align: center;
	}
	.title-white-color{
		font: 22px medium;
	}
	.kontakt-location .block-iform-mob{
		 margin-top: 20px;
	}
	.my-class-partners{
		width: 49%;
	}
	.style-padding-select-catalog .otstup{
		margin-bottom: 20px;
	}
	.tabsButton .tab-content, .owl-carousel .owl-stage-outer{
		margin: 0 5px;
	}
	.owl-prev img{
		right: 20px;
	}
	.owl-next img{
		left: 20px;
	}
	.nav-tabs > li > a, .menu_vup ul li a{
		background: transparent!important;
	}
	.menu_vup .nav-tabs > li.active > a{
		background: transparent!important;
		border-bottom: 4px solid #e5ae67!important;
	}
	.center-currency-bl{
		transform: none;
	}
	.clas_cabin_no_conteiner22 .bt_bot_bb_3{
		width: 100%;
	}
	.change_hover_all{
		width: 100%
	}
	.tarif_packet_table .table_title{
		margin-top: 50px;
	}
	.row.table-row{
		border-bottom: 2px solid grey;
	}
	.a_oplatyty_a{
		float: none;
		display: block;
	}
	.navbar-toggle .icon-bar{
		background: grey;
	}
	.navbar-toggle{
		margin-top: 0px;
		cursor: pointer;
	}
	.navbar-toggle > p{
		display: inline-block;
	    margin-bottom: 0px;
	    line-height: 20px;
	    vertical-align: text-bottom;
	    color: #e5ae67;
	    padding-right: 7px;
	}
	.navbar-toggle > span{
		display: inline-block;
	}

}